@import 'core/theming';

$checkboxSize: 1.5rem;
$ghostItemColor1: color-neutral('40');
$ghostItemColor2: color-neutral('30');

:host {
    & {
        display: flex;
        align-items: center;
        background-color: color-neutral('10');
        border: $border-width solid $border-color;
        border-radius: 0.25rem;
    }

    &:not(.ghost):hover,
    &:not(.ghost):active {
        border-color: color-neutral('50');
    }

    &:not(.ghost):hover {
        cursor: pointer;
    }

    .todo-item-status {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: map-get($spacers, 3);
        border-right: $border-width solid $border-color;
    }

    .todo-item-status-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: $checkboxSize;
        width: $checkboxSize;
        border: $border-width solid $border-color;
        border-radius: 50%;
    }

    .todo-item-text {
        margin-left: $spacer;
        margin-right: $spacer;
        flex: 1;
    }
}

:host.done {
    & {
        background-color: color-neutral('20');
    }

    .todo-item-status,
    .todo-item-text {
        color: color-neutral('60');
    }

    .todo-item-status-icon {
        background-color: color-neutral('80');
        border-color: color-neutral('80');
        color: $white;
    }

    .todo-item-text {
        text-decoration: line-through;
    }
}

:host.ghost {
    & {
        border-color: transparent;
        background: linear-gradient(to right, $ghostItemColor2 30%, $ghostItemColor1, $ghostItemColor2 50%);
        background-size: 400% 400%;
	    animation: reverse gradientSlide 1.5s linear infinite;
    }

    .todo-item-status {
        border-right-color: $ghostItemColor1;
    }

    .todo-item-status-icon {
        background-color: $ghostItemColor1;
        border-color: transparent;
    }

    .todo-item-text {
        background-color: $ghostItemColor1;
        height: 1.5rem;
    }
}

@keyframes gradientSlide {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 100% 0;
	}
}
