@import 'core/theming';

$checkbox-size: 1.5rem;
$border: $border-width solid $border-color;
$skeleton-base-color: theme-color-level('dark', -2);

@mixin skeleton-gradient {
    background: linear-gradient(
        to right,
        $skeleton-base-color 0%,
        lighten($skeleton-base-color, 8%) 15%,
        $skeleton-base-color 30%
    );
    background-size: 200%;
}

@keyframes shine {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 200% 0;
    }
}

:host {
    & {
        display: flex;
        align-items: center;
        border: $border;
        border-radius: $border-radius;
    }

    &:not(.ghost):hover,
    &:not(.ghost):active {
        border-color: lighten($border-color, 12%);
    }

    &:not(.ghost):hover {
        cursor: pointer;
    }

    .todo-item-status {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: map-get($spacers, 3);
    }

    .todo-item-status-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: $checkbox-size;
        width: $checkbox-size;
        border: $border;
        border-radius: 50%;
    }

    .todo-item-text {
        margin-right: $spacer;
        flex: 1;
    }
}

:host.done {
    & {
        background-color: theme-color-level('dark', -2);
        border-color: theme-color-level('dark', -2);
    }

    .todo-item-status,
    .todo-item-text {
        color: darken($body-color, 32%);
    }

    .todo-item-status-icon {
        background-color: theme-color-level('dark', -3);
        border-color: theme-color-level('dark', -3);
    }

    .todo-item-text {
        text-decoration: line-through;
    }
}

:host.ghost {
    .todo-item-status-icon {
        border-color: transparent;
    }

    .todo-item-text {
        height: 1.5rem;
        border-radius: $border-radius;
    }

    .todo-item-text {
        @include skeleton-gradient;
        animation: reverse shine 1.4s linear infinite;
    }

    .todo-item-status-icon {
        @include skeleton-gradient;
        animation: reverse shine 1.4s linear infinite;
    }
}
