@import 'core/theming';

:host {
    & {
        display: block;
        padding-left: $spacer;
        user-select: none;
    }

    &:active {
        background-color: color-neutral('20');
    }

    .todo-header {
        display: flex;
        align-items: center;
    }

    .todo-status {
        display: flex;
        align-items: center;
        justify-content: center;
        height: map-get($spacers, 4);
        width: map-get($spacers, 4);

        border: 1px solid $body-color;
        border-radius: 50%;
    }

    .todo-status-icon {
        font-size: 2rem;
    }

    .todo-form {
        flex: 1;
        display: flex;
    }

    .todo-text {
        flex: 1;
        padding: $spacer $spacer $spacer 0;
    }
}

:host.done {
    .todo-status,
    .todo-text {
        border-color: $border-color;
        color: color-neutral('50');
    }

    .todo-text {
        text-decoration: line-through;
    }
}
