@import 'core/theming';

:host {
    & {
        display: flex;
        align-items: center;
        background-color: color-neutral('10');
        border: $border-width solid $border-color;
        border-radius: 0.25rem;
    }

    &:hover,
    &:active {
        border-color: color-neutral('50');
    }

    &:hover {
        cursor: pointer;
    }

    .todo-item-status {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3.5 * $spacer;
        width: 3.5 * $spacer;
        margin-right: $spacer;
        border-right: $border-width solid $border-color;
    }

    .todo-item-status-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: map-get($spacers, 4);
        width: map-get($spacers, 4);
        border: $border-width solid $border-color;
        border-radius: 50%;
    }

    .todo-item-text {
        flex: 1;
    }
}

:host.done {
    & {
        background-color: color-neutral('20');
    }

    .todo-item-status,
    .todo-item-text {
        color: color-neutral('60');
    }

    .todo-item-status-icon {
        background-color: color-neutral('80');
        border-color: color-neutral('80');
        color: $white;
    }

    .todo-item-text {
        text-decoration: line-through;
    }
}
