@import 'core/theming';

.kp-overlay-backdrop {
    background-color: transparentize($dark, 0.72);
}

.kp-dialog {
    background-color: color-neutral('0');
    border-radius: $border-radius;
}

.kp-bottomSheet {
    background-color: color-neutral('0');
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
}
