// Colors

$color-neutral-0: #ffffff;
$color-neutral-10: #fafbfc;
$color-neutral-20: #f4f5f7;
$color-neutral-30: #ebecf0;
$color-neutral-40: #dfe1e6;
$color-neutral-50: #c1c7d0;
$color-neutral-60: #b3bac5;
$color-neutral-70: #a5adba;
$color-neutral-80: #97a0af;
$color-neutral-90: #8993a4;
$color-neutral-100: #7a869a;
$color-neutral-200: #6b778c;
$color-neutral-300: #5e6c84;
$color-neutral-400: #505f79;
$color-neutral-500: #42526e;
$color-neutral-600: #344563;
$color-neutral-700: #253858;
$color-neutral-800: #172b4d;
$color-neutral-900: #091e42;

$color-blue-50: #deebff;
$color-blue-75: #b3d4ff;
$color-blue-100: #4c9aff;
$color-blue-200: #2684ff;
$color-blue-300: #0065ff;
$color-blue-400: #0052cc;
$color-blue-500: #0747a6;

$color-green-50: #e3fcef;
$color-green-75: #abf5d1;
$color-green-100: #79f2c0;
$color-green-200: #57d9a3;
$color-green-300: #36b37e;
$color-green-400: #00875a;
$color-green-500: #006644;

$color-red-50: #ffebe6;
$color-red-75: #ffbdad;
$color-red-100: #ff8f73;
$color-red-200: #ff7452;
$color-red-300: #ff5630;
$color-red-400: #de350b;
$color-red-500: #bf2600;

$color-yellow-50: #fffae6;
$color-yellow-75: #fff0b3;
$color-yellow-100: #ffe380;
$color-yellow-200: #ffc400;
$color-yellow-300: #ffab00;
$color-yellow-400: #ff991f;
$color-yellow-500: #ff8b00;
