<div class="todo-edit-form-header">
    <h5 class="m-0">Edit task</h5>
    <div class="todo-edit-form-header-actions">
        <button type="button" class="btn todo-edit-form-header-action" (click)="onRemoveActionClick()">
            <i class="uil uil-trash"></i>
        </button>
    </div>
</div>
<form class="todo-edit-form" [formGroup]="form" (ngSubmit)="onFormSubmit()">
    <div class="todo-edit-form-checkbox" (click)="onCheckboxClick()">
        <input type="checkbox" id="isDone" class="form-check-input" formControlName="isDone" hidden>
        <i class="uil uil-check" *ngIf="todoIsDoneControl.value"></i>
    </div>
    <input #todoTextHTMLElement type="text" class="form-control" placeholder="e.g. do the shopping"
        formControlName="text">
</form>
