<div class="todo-list-header">
    <h5 class="mb-0 flex-fill">
        Release: June 2021
    </h5>
</div>

<ng-container *ngIf="(todos$ | async); let todos">
    <ng-container *ngIf="todos.length > 0">
        <div class="mt-3">
            <app-todo-list-item *ngFor="let todo of todos; let i = index" [todo]="todo"></app-todo-list-item>
        </div>
        <div class="p-3">
            <button type="button" class="btn btn-light text-left text-muted" (click)="addTodo()">
                <i class="uil uil-plus mr-2"></i> Add task
            </button>
        </div>
    </ng-container>
</ng-container>
