<div class="p-3">
    <h1>Lorem ipsum</h1>
    <p class="text-muted mb-0">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi ipsum non ducimus.
    </p>
</div>

<hr>

<div class="px-3 py-2" *ngFor="let todo of (todos$ | async); let i = index">
    <input type="text" class="form-control" placeholder="What do you have to do?" [value]="todo">
</div>

<div class="p-3">
    <button type="button" class="btn btn-block btn-primary" (click)="addTodo()">
        New list element
    </button>
</div>
