@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

.todo-list-header {
    display: flex;
    align-items: center;
    padding: map-get($spacers, 3);
    border-bottom: 1px solid $input-border-color;
}

.app-todo-list-item + .app-todo-list-item {
    border-top: 1px solid $input-border-color;
}
