<ng-container *ngIf="(todos$ | async); let todos">
    <app-todo-list-item *ngFor="let todo of todos; let i = index" [todo]="todo"
        (checkboxClick)="onTodoItemCheckboxClick(todo, $event)" (click)="onTodoItemClick(todo)"></app-todo-list-item>
</ng-container>

<ng-container *ngIf="(fetchTodosPending$ | async)">
    <div class="loading-state">
        <div class="todo-list-item"></div>
        <div class="todo-list-item"></div>
        <div class="todo-list-item"></div>
        <div class="todo-list-item"></div>
    </div>
</ng-container>


<ng-container *ngIf="(fetchTodosPending$ | async) === false && (todos$ | async)?.length === 0">
    <app-empty-state>
        <ng-container title>
            Lorem ipsum dolor sit amet
        </ng-container>
        <ng-container description>
            Consectetur adipisicing elit. Maxime doloremque facilis alias magnam, voluptates
            quod nihil? Nesciunt rerum unde dignissimos ad facere, vel nostrum qui. Nostrum fugit earum cum! Ipsam!
        </ng-container>
        <ng-container actions>
            <button type="button" class="btn btn-primary" disabled>
                <i class="uil uil-plus"></i> Add new task
            </button>
        </ng-container>
    </app-empty-state>
</ng-container>
