@import 'core/theming';

:host {
    display: block;
    padding: map-get($spacers, 3);

    @each $key, $value in $container-max-widths {
        @include media-breakpoint-only($key) {
            width: $value;
        }
    }
}
