@keyframes dialogIn {
    from {
        opacity: 0;
        transform: translateY(-5%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes dialogOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-5%);
    }
}

@keyframes bottomsheetIn {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes bottomsheetOut {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }
}

@keyframes sidepanelIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes sidepanelOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes backdropIn {
    from {
        background-color: transparentize(color-neutral('900'), 1);
    }
    to {
        background-color: transparentize(color-neutral('900'), 0.76);
    }
}

@keyframes backdropOut {
    from {
        background-color: transparentize(color-neutral('900'), 0.76);
    }
    to {
        background-color: transparentize(color-neutral('900'), 1);
    }
}
