<div class="page-header">
    <div class="page-header-text">My Todos</div>
    <div class="page-header-actions">
        <button type="button" class="btn btn-sm">
            <i class="uil uil-search"></i>
        </button>
        <button type="button" class="btn btn-sm">
            <i class="uil uil-ellipsis-v"></i>
        </button>
    </div>
</div>

<div *ngIf="{
    isFetchTodosPending: (isFetchTodosPending$ | async),
    todosGroupedByDate: (todosGroupedByDate$ | async)
}; let data" class="page-content" [@todoGroupAnimation]="data.isFetchTodosPending">
    <div class="todo-list" *ngFor="let group of data.todosGroupedByDate">
        <div class="todo-list-title">
            <span class="text">Last week</span>
            <span class="dot"></span>
            <span class="date">{{ group.key | date }}</span>
        </div>
        <div class="todo-list-items">
            <app-todo-list-item *ngFor="let todo of group.value" [todo]="todo"
                (checkboxClick)="onTodoCheckboxClick(todo, $event, data.isFetchTodosPending)"
                (click)="onTodoClick(todo, data.isFetchTodosPending)">
            </app-todo-list-item>
        </div>
    </div>

    <ng-container *ngIf="!data.isFetchTodosPending && data.todosGroupedByDate?.length === 0">
        <app-empty-state>
            <ng-container title>
                Lorem ipsum dolor sit amet
            </ng-container>
            <ng-container description>
                Consectetur adipisicing elit. Maxime doloremque facilis alias magnam, voluptates
                quod nihil? Nesciunt rerum unde dignissimos ad facere, vel nostrum qui. Nostrum fugit earum cum!
                Ipsam!
            </ng-container>
            <ng-container actions>
                <button type="button" class="btn btn-primary" disabled>
                    <i class="uil uil-plus"></i> Add new task
                </button>
            </ng-container>
        </app-empty-state>
    </ng-container>
</div>
