<div *ngIf="{
    isFetchTodosPending: (isFetchTodosPending$ | async),
    showOnlyCompletedTodos: (showOnlyCompletedTodos$ | async),
    todos: (todos$ | async)
}; let data" class="page-wrapper">
    <div class="page-header">
        <div class="page-header-text">
            {{ pageTitle$ | async }}
        </div>
        <div class="page-header-actions">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-sm" ngbDropdownToggle>
                    <i class="uil uil-ellipsis-v"></i>
                </button>
                <div ngbDropdownMenu>
                    <button type="button" disabled ngbDropdownItem class="d-flex justify-content-between">
                        Sort tasks
                        <i class="uil uil-angle-right"></i>
                    </button>
                    <button type="button" disabled ngbDropdownItem class="d-flex justify-content-between">
                        Filter tasks
                        <i class="uil uil-angle-right ml"></i>
                    </button>
                    <div class="dropdown-divider"></div>
                    <button type="button" ngbDropdownItem (click)="toggleProgressedTodos()">
                        <ng-container *ngIf="!data.showOnlyCompletedTodos">
                            <i class="uil uil-check-square mr-2"></i>
                            Completed tasks
                        </ng-container>
                        <ng-container *ngIf="data.showOnlyCompletedTodos">
                            <i class="uil uil-times-square mr-2"></i>
                            Unfinished tasks
                        </ng-container>
                    </button>
                    <button type="button" disabled ngbDropdownItem>
                        <i class="uil uil-grids mr-2"></i>
                        Kanban view
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content">
        <div class="todo-list" *ngFor="let group of data.todos">
            <div class="todo-list-title">
                <span class="text">Last week</span>
                <span class="dot"></span>
                <span class="date">{{ group.key | date }}</span>
            </div>
            <div class="todo-list-items">
                <app-todo-list-item *ngFor="let todo of group.value" [todo]="todo"
                    (checkboxClick)="onTodoCheckboxClick(todo, $event, data.isFetchTodosPending)"
                    (click)="onTodoClick(todo, data.isFetchTodosPending)">
                </app-todo-list-item>
            </div>
        </div>

        <ng-container *ngIf="!data.isFetchTodosPending && !data.showOnlyCompletedTodos && data.todos?.length === 0">
            <app-empty-state class="h-100">
                <ng-container image>
                    <img src="assets/images/Achievement_Flatline.svg" alt="Chill" class="img-fluid">
                </ng-container>
                <ng-container title>
                    Everything is done!
                </ng-container>
                <ng-container description>
                    Looks like you have all planned as it should be.
                    Select "+" to add a new task.
                </ng-container>
            </app-empty-state>
        </ng-container>

        <ng-container *ngIf="!data.isFetchTodosPending && data.showOnlyCompletedTodos && data.todos?.length === 0">
            <app-empty-state class="h-100">
                <ng-container image>
                    <img src="assets/images/Cocktail_Flatline.svg" alt="Chill" class="img-fluid">
                </ng-container>
                <ng-container title>
                    Oops, nothing here...
                </ng-container>
                <ng-container description>
                    Try closing more tasks to keep your day optimized.
                </ng-container>
            </app-empty-state>
        </ng-container>
    </div>
</div>
