@import 'core/theming';

.app-todo-list-item + .app-todo-list-item {
    margin-top: map-get($spacers, 2);
}

.page-header {
    &-date {
        color: color-neutral('80');
        text-transform: uppercase;
    }

    &-title {
        margin: map-get($spacers, 1) 0 map-get($spacers, 4) 0;
        line-height: 1.15;
    }
}
